PORT=3000
BASE_URL=https://backend.seudominio.com
STEAM_API_KEY=
INFINITEPAY_HANDLE=seu-handle
INFINITEPAY_WEBHOOK_SECRET=seu-segredo
INFINITEPAY_API_TOKEN=
VIP_PRICE=1990
VIP_PLUS_PRICE=2990
VIP_DURATION_DAYS=30
VIP_PLUS_DURATION_DAYS=30
BOT_API_KEY=troque_esta_chave
CHECK_EXPIRED_INTERVAL_MS=60000
CHECKOUT_REDIRECT_URL=https://seudominio.com/pagamento/sucesso
CHECKOUT_WEBHOOK_URL=https://backend.seudominio.com/webhooks/infinitepay
PLUGIN_API_TOKEN=troque_plugin_token
SESSION_SIGNING_SECRET=troque_estado_steam
