DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_application_client_id
GUILD_ID=your_guild_id
VIP_ROLE_ID=vip_role_id
VIP_PLUS_ROLE_ID=vip_plus_role_id
BACKEND_URL=https://api.seudominio.com
BOT_WEBHOOK_TOKEN=token_to_auth_internal_endpoint
